[submodule "api-docs/themes/book"]
	path = api-docs/themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
